= simple_form_for @result, :url => admin_game_result_path(@game), :remote => true do |f|
  = f.input :away_score, :label => @game.away_team_name, :input_html => { :class => "span1"}
  = f.input :home_score, :label => @game.home_team_name, :input_html => { :class => "span1"}
  = f.input :completed_in, :collection => Game::Result.completed_in_options, :input_html => { :class => "span2"}

:css
  #game_result_left_team_score,
  #game_result_right_team_score
  {
    width: 25px;
    text-align: center;
  }

