- title 'Game Results'

= select("season", :id, @season_links, { :selected => admin_game_results_path(:season_id => @season.id) }, { :class => "redirect_to" })
= select("league", :id, @league_links, { :selected => request.fullpath }, { :class => "redirect_to" })
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Date
      %th Time
      %th Description
      %th Actions
  %tbody
    = render :partial => 'game', :collection => @games

#dialog-modal

