- title 'Game Results'
- javascript("jquery-ui.min.js")

%table.table.table-striped.table-bordered
  %thead
    %tr
      %td Date
      %td Time
      %td Description
      %td Actions
  %tbody
    = render :partial => 'game', :collection => @games

#dialog-modal

