<div class="row">
{{#each skaters as |skater|}}
  <div class="col-sm-3" style="margin-top: 20px;">
    {{editor/skater-picker-button skater=skater selected=selected onSelection=(action "select")}}
  </div>
{{/each}}
</div>
