- title "Teams"

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th TEAM
      %th
    %tbody
      - @teams.each do |team|
        %tr
          %td= team.name
          %td
            = link_to "Statistics", team_statistics_path(@league.slug, team.season_slug, team.slug)

