- title 'Status'

%h3 Message Bus
%strong Bus: 
= MessageBus.current ? MessageBus.current.class : 'NULL'
%br/
%strong Handles:
%ul
  - MessageBus.messages.collect{|x| x.to_s}.sort.each do |e|
    %li #{e}

