<% if user_signed_in? %>
  <li role="separator" class="divider"></li>
  <li>
    <%= link_to('Logout', main_app.destroy_user_session_path, :method => :delete) %>
  </li>
<% elsif 0 == 1 %>
  <li>
    <%= link_to "Sign in with Facebook", main_app.user_omniauth_authorize_path(:facebook) %>
  </li>
<% else %>
  <li>
    <%= link_to('Login', main_app.new_user_session_path) %>
  </li>
<% end %>
