<% if user_signed_in? %>
  <li>
    <div class="divider"></div>
    <%= link_to('Logout', destroy_user_session_path) %>
  </li>
<% elsif 0 == 1 %>
  <li>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path) %>
  </li>
<% end %>

