<% if user_signed_in? %>
  <li>
    <%= link_to('Edit User Account', edit_user_registration_path) %>
  </li>
<% elsif 1 == 0 %>
  <li>
    <%= link_to('Create User Account', new_user_registration_path) %>
  </li>
<% end %>
<% if current_user_is_admin? %>
  <li role="separator" class="divider"></li>
  <li>
    <%= link_to('Admin', admin_root_path) %>
  </li>
<% end %>
