<% if user_signed_in? %>
  <li>
    <%= link_to('Edit User Account', edit_user_registration_path) %>
  </li>
<% elsif 1 == 0 %>
  <li>
    <%= link_to('Create User Account', new_user_registration_path) %>
  </li>
<% end %>
