.item.nested-fields
  .content
    = f.input :title
    = f.input :description, input_html: { rows: 3 }
    = f.association :form_packet, :collection => @form_packets
    = f.input :price, { placeholder: 'Free' }