%li.list-group-item.nested-fields
  .row
    .col-sm-6
      = f.input :title
  .row
    .col-xs-12
      = f.input :description
  .row
    .col-sm-2
      = f.input :price, { placeholder: 'Free' }
    -# .col-sm-2
    -#   = f.input :quantity_allowed, { placeholder: 'No Limit' }
