- title 'Registrables'
- page_actions do
  = link_to 'New Registrable', new_registrar_registrable_path, :class => 'btn btn-primary'

.list-group
  - @registrables.each do |registrable|
    .list-group-item
      %h4.list-group-item-heading= link_to registrable.title, registrable
      %p= registrable.description
      %p.list-group-item-text= link_to 'More Info', registrable




