template
  .btn-group(role="group", aria-label="...")
    button.btn.btn-default(type="button", click.delegate="back()"): i.fa.fa-chevron-left
    button.btn.btn-default(type="button", click.delegate="today()") Today
    button.btn.btn-default(type="button", click.delegate="forward()"): i.fa.fa-chevron-right
