template(bindable="select")
  .btn-group(role="group", aria-label="...")
    button.btn.btn-default(type="button", click.delegate="select('day')") Day
    button.btn.btn-default(type="button", click.delegate="select('four')") 4 Day    
    button.btn.btn-default(type="button", click.delegate="select('week')") Week
    button.btn.btn-default(type="button", click.delegate="select('month')") Month 
