template
  require(from="bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css")
  .input-group.colorpicker-element
    input.color(type="hidden", value.two-way="program.color")
    input.form-control(type="text", value.bind="program.name")
    span.input-group-addon: i
