= simple_form_for [:admin, @location] do |f|
  .panel.panel-default
    .panel-body
      = f.input :name
      = f.input :short_name
      = f.button :wrapped, :cancel => return_url

:css
  #location_name {
    width: 400px;
  }
  #location_short_name {
    width: 200px;
  }