.bundle
db/*.sqlite3
public/uploads/**/*
public/assets/**/*
log/*.log
tmp/**/*
.sass-cache/
.DS_Store
uploads/
node_modules/
bower_components/
jspm_packages/
public/client/dist/**/*
.idea
.byebug_history
