%table
  %thead
    %tr
      %th{:scope => 'col'} Name
      %th{:scope => 'col'} Email
      %th{:scope => 'col'} Actions
  %tbody
    - @users.each do |user|
      %tr
        %td #{user.name}
        %td #{user.email}
        %td #{link_to 'Show', [:host, user]}
