%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{:scope => 'col'} First
      %th{:scope => 'col'} Last
      %th{:scope => 'col'} Email
      %th{:scope => 'col'} Actions
  %tbody
    - @users.each do |user|
      %tr
        %td #{user.first_name}
        %td #{user.last_name}
        %td #{user.email}
        %td #{link_to 'Show', [:host, user]}
