- title 'Player Roster'

.mod-container.mod-table.mod-no-header-footer
  .mod-content
    %table.stat#roster{ :cellspacing => "1" }
      %thead
        %tr.col-head
          %td NUM
          %td NAME
      %tbody
        = render :partial => "player", :collection => @players
.action
  .player_add #{link_to 'Add Player', new_admin_team_player_path(@team)}
