= javascript 'calendar/include';
= stylesheet 'fullcalendar';
:javascript
	var events = #{@events.to_json};
%div{ "ng-app" => "CalendarApp", "ng-controller" => "CalendarCtrl" }
	/ .btn-group
	/ 	%button.btn.btn-default{ 'ng-click' => "changeView('agendaDay', 'my-calendar')" } Day
	/ 	%button.btn.btn-default{ 'ng-click' => "changeView('agendaWeek', 'my-calendar')" } Week
	/ 	%button.btn.btn-default{ 'ng-click' => "changeView('month', 'my-calendar')" } Month
	%div{ :calendar => "my-calendar", "ui-calendar" => "uiConfig.calendar", "ng-model" => "eventSources" }