- title 'Calendar'
- wrapper class: [:ui, :fluid, :container]

.ui.segment
  = render "admin/events/views/#{@view}"

#dialog-modal

:css

  table.calendar thead th {
    text-align: center !important
  }

- content_for :javascript do
  :javascript
    $(function() {
      $('[data-toggle="popover"]').popover({
        trigger: 'focus',
      }).click(function() {
        return false;
      });
    });
