- title 'Calendar'
- wrapper class: [:ui, :fluid, :container]

.ui.segment
  = render Admin::Events::Views::Month::CalendarComponent.new(date: @date, events: @events)

#dialog-modal

:css

  table.calendar thead th {
    text-align: center !important
  }

  table.calendar td.day {
    height: 200px;
    width: 14.285%;
    vertical-align: top;
  }

  table.calendar td.day .number {
    font-weight: bold;
    margin-bottom: 10px;
  }

  table.calendar td.day .event {
    margin-bottom: 2px;
    padding: .78em !important;
  }  

  table.calendar td.day .event .time,
  table.calendar td.day .event .summary {
    float: left;
    text-align: left;
  } 

  table.calendar td.day .event .time {
    width: 50px;
  } 

  table.calendar td.day .event .clear {
    clear: both;
  }     

- content_for :javascript do
  :javascript
    $(function() {
      $('.dropdown.event').popup()
    })
    