- title 'Standings'

- @division.seasons.each do |season|
  = link_to_standings @division, season

= render :partial => "standings_table", :locals => { :team_records => @team_records, :columns => @columns }

= render :partial => "new_column_form", :locals => { :season => @season }


