%table.goals
  %thead
    %tr
      %th.time Time
      %th.team Team
      %th.goal Scoring Detail
  %tbody
    - if goals.count == 0
      %tr
        %td{ :colspan => '3' } No scoring this period
    - else
      - goals.each do |goal|
        %tr
          %td.time #{goal.time}
          %td.team 
            - if goal.side == 'L'
              #{image_tag @left_team.logo.tiny_thumb.url.to_s if @left_team.logo?}
            - else
              #{image_tag @right_team.logo.tiny_thumb.url.to_s if @right_team.logo?}
          %td.goal #{goal.plr}
    
