%table.table.table-striped.table-bordered
  = render :partial => 'player_summary_team', :locals => { :side => 'away'}
%table.table.table-striped.table-bordered  
  = render :partial => 'player_summary_team', :locals => { :side => 'home'}
