<p>
  <b>Starts on:</b>
  <%= @game.starts_on.strftime("%a %m/%d/%y") %>
</p>

<p>
  <b>Starts at:</b>
  <%= @game.starts_on.strftime("%I:%M %p") %>
</p>


<%= link_to 'Edit', edit_league_game_path(@game) %> |
<%= link_to 'Back', league_season_games_path(@game.season_id) %>
