<div class='ember-calendar-event-name'>{{view.nameString}}</div>
<div class='ember-calendar-event-time'>{{view.timeString}}</div>
<div class='ember-calendar-event-location'>{{view.locationString}}</div>