<div class='ember-calendar-head'>
  {{view App.Calendar.WeekHeadingDatesView datesBinding='controller.weekDates'}}
</div>
<div class='ember-calendar-container'>
  <div class='ember-calendar-body'>
    {{view App.Calendar.HeadingTimesView timesBinding='controller.times'}}
    {{view App.Calendar.WeekDaysView daysBinding='controller.weekDays'}}
  </div>
</div>