<div class='ember-calendar-head'>
  {{view App.Calendar.MonthHeadingDaysView datesBinding='controller.weekDates'}}
</div>
<div class='ember-calendar-container'>
  <div class='ember-calendar-body'>
    {{view App.Calendar.MonthWeeksView daysBinding='controller.days'}}
  </div>
</div>