<% title 'Scoreboard' %>
<div class="scoreboard">
  <%= render :partial => "shared/select_date_range", :locals => { :start_date => @start_date, :end_date => @end_date, :prev_date => @prev_date, :next_date => @next_date, :range => @days_in_future + @days_in_past } %>
  <% 
    previous_date = nil 
    counter = 0
  %>
  <% @games.each_with_index do |game, i|  %>
    <%
      previous_date = game.starts_on.to_date unless previous_date
      first_date = (i == 0)
      new_date = (game.starts_on.to_date < previous_date)
      counter = 0 if new_date
    %>
    <% if new_date # end row %>
      </div>
    <% end %>
    <% if first_date or new_date # new head %>
      <% counter = 0 %>
      <div class="row">
        <div class="group-head">
          <h5><%= game.starts_on.to_date.strftime("%A, %B %e %Y") %></h5>
        </div>
      </div>
      <div class="row">
    <% else %>
      <% if counter % 3 == 0 %>
        </div>
        <div class="row">
      <% end %>    
    <% end %>
    <%= render :partial => "score_card", :locals => { :game => game } %>
    <% counter += 1 %>
    <% previous_date = game.starts_on.to_date %>    
  <% end %>
  </div>
  <% if @games.count > 0 %>
    <%= render :partial => "shared/select_date_range", :locals => { :start_date => @start_date, :end_date => @end_date, :prev_date => @prev_date, :next_date => @next_date, :range => @days_in_future + @days_in_past } %>
  <% end %>
</div>
