- title @division.name + ' Scoreboard'
.scoreboard
  = render :partial => "shared/select_date_range", :locals => { :start_date => @start_date, :end_date => @end_date, :prev_date => @prev_date, :next_date => @next_date, :range => @days_in_future + @days_in_past }
  - @days.each do |day, games|
    .row.clearfix
      .col-xs-12
        .group-head
          %h5= day
    - games.in_groups_of(3, false).each do |group|
      .row.clearfix
      - group.each do |game|
        = render :partial => "score_card", :locals => { :game => game }
  - if @days.count > 0
    = render :partial => "shared/select_date_range", :locals => { :start_date => @start_date, :end_date => @end_date, :prev_date => @prev_date, :next_date => @next_date, :range => @days_in_future + @days_in_past }

