%table.big
  %thead
    %tr.title
      %th(colspan="8") GOALS
    %tr
      %th PER
      %th TIME
      %th TEAM
      %th GOAL
      %th(colspan="2") ASSISTS
      %th PP/SH
  %tbody
    - (1..20).each do |row|
      %tr
        %td &nbsp;
        %td
        %td
        %td
        %td
        %td
        %td
