%table
  %thead
    %tr.title
      %th(colspan="5")= header
    %tr
      %th(width="20%") #
      %th(width="20%") 1
      %th(width="20%") 2
      %th(width="20%") 3
      %th(width="20%") OT
  %tbody
    - 2.times.each do
      %tr
        %td &nbsp;
        %td
        %td
        %td
        %td
