%table.big
  %thead
    %tr.title
      %th(colspan="8") PENALTIES
    %tr
      %th PER
      %th TIME
      %th TEAM
      %th PLR
      %th MIN
      %th OUT
      %th INFRACTION
      / %th START
      / %th END
  %tbody
    - (1..20).each do |row|
      %tr
        %td &nbsp;
        %td
        %td
        %td
        %td
        %td
        %td
        / %td
        / %td
