%table
  %thead
    %tr.title
      %th(colspan="5") SCORING BY PERIOD
    %tr
      %th(width="20%") TEAM
      %th(width="20%") 1
      %th(width="20%") 2
      %th(width="20%") 3
      %th(width="20%") OT
  %tbody
    - ['HOME','AWAY'].each do |team|
      %tr.big
        %td{ style: 'vertical-align: middle;' }= team
        %td
        %td
        %td
        %td
