%table
  %thead
    %tr.title
      %th(colspan="6") SCORING BY PERIOD
    %tr
      %th(width="10%")
      %th(width="18%") 1
      %th(width="18%") 2
      %th(width="18%") 3
      %th(width="18%") OT
      %th(width="18%" style="font-size: 9px;") Total
  %tbody
    - ['AWAY','HOME'].each do |team|
      %tr.big
        %td{ style: 'vertical-align: middle; font-size: 9px;' }= team
        %td
        %td
        %td
        %td
        %td
