%table
  %thead
    %tr.title
      %th(colspan="5") SHOTS BY PERIOD
    %tr
      %th TEAM
      %th 1
      %th 2
      %th 3
      %th OT
  %tbody
    - ['HOME','AWAY'].each do |team|
      %tr
        %td= team
        %td
        %td
        %td
        %td
