.ui.modal.edit_block
  .header Edit Event Feed
  .content
    = simple_form_for @block, url: page_blocks_event_feed_path(@page, @block), remote: true do |f|
      = f.input :title
      = f.input :event_count
      = f.input :tags, as: :tags
  .actions
    %button.ui.primary.button{ type: :submit } Save
    %button.ui.cancel.button Cancel           
