
.left
  :float left
.right
  :float right

.controls
  :padding 5px
  select
    :padding 2px
    :border 1px solid #CFCFCF
    :background #E7E7E7

.mod-container
  :width 100%
  :clear both

.mod-content
  :background white
  :font-size 12px
  :border-width 0 1px
  :border-color #C2C2C2
  :border-style solid
  :overflow hidden
  :padding 2px

.mod-footer
  :background white
  :border-width 0 1px 1px
  :border-color #C2C2C2
  :border-style solid
  :margin-bottom 2px

.mod-table
  .mod-content
    :padding 0 !important
  .mod-footer
    :text-align left
    :margin-bottom 6px
    :overflow hidden
    p
      :margin 0
      :padding 0 5px
      :font-size 10px
      :line-height 25px
      :overflow hidden
    .foot-header
      :color white
    .foot-content
      :padding 8px
      :font-size 11px
      :overflow hidden
      ul
        :float left
        :margin 0 25px 10px 0
        li
          :padding-bottom 4px
    .foot-footer
      :background #DDD
      :clear both
      :border-top 1px solid #BBB

.mod-no-header
  .mod-content
    :border-top-width 1px

.mod-no-footer
  .mod-content
    :border-bottom-width 1px

.mod-no-header-footer
  .mod-content
    :margin-bottom 6px
    :border-top-width 1px
    :border-bottom-width 1px

.group-head
  :background-color #227A92
  :color white
  :font-weight 700
  :font-size 13px
  :padding 5px
  :border-bottom 1px solid #CCC

.group-end
  :border-top 1px solid #CCCCCC
  :height 1px

table.stat
  :width 100%
  td, th
    :padding 3px 6px 3px 6px
  tr.group-head
    td, th
      :background-color #227A92
      :border-bottom 1px solid #CCC
      :color white
      :font-weight 700
      :font-size 13px
  tr.col-head
    td, th
      :background -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#E8E8E8))
      :background -moz-linear-gradient(top, #C2C2C2, #E8E8E8)
      :color #444
      :border-bottom 1px #C2C2C2 solid
      :font-weight 700
      :font-size 11px
  tr.even
    td
      :background-color #F1F1F1
