- title Dashboard

.row.tiled

  .col-md-2.col-sm-3.col-xs-4
    .dummy
    %a.tile{ :href => admin_events_path }
      %i.fa.fa-calendar
      %p Calendar

  .col-md-2.col-sm-3.col-xs-4
    .dummy
    %a.tile{ :href => admin_programs_path }
      %i.fa.fa-sitemap
      %p Programs

  .col-md-2.col-sm-3.col-xs-4
    .dummy
    %a.tile{ :href => pages_path }
      %i.fa.fa-file-text-o
      %p Pages

  .col-md-2.col-sm-3.col-xs-4
    .dummy
    %a.tile{ :href => pages_path }
      %i.fa.fa-sticky-note-o
      %p Posts

  .col-md-2.col-sm-3.col-xs-4
    .dummy
    %a.tile{ :href => admin_users_path }
      %i.fa.fa-user
      %p Users

  .col-md-2.col-sm-3.col-xs-4
    .dummy
    %a.tile{ :href => admin_locations_path }
      %i.fa.fa-map-marker
      %p Locations

  .col-md-2.col-sm-3.col-xs-4
    .dummy
    %a.tile{ :href => admin_clubs_path }
      %i.fa.fa-users
      %p Clubs




