- title Dashboard
.container
  .row
    .col-sm-4
      .panel.panel-default
        .panel-heading Unique Visitors
        .panel-body
          = column_chart @visits_by_day

    .col-sm-4
      .panel.panel-default
        .panel-heading Top Pages
        .panel-body
          = bar_chart @top_pages      

    .col-sm-4
      .panel.panel-default
        .panel-heading By Device
        .panel-body
          = pie_chart @by_device              

  = render partial: 'admin/dashboard/locker_rooms', locals: { date: @date }
