%h3= form.template.name

%table.table.table-bordered.table-striped
  - form.elements.each do |element|
    - element.permitted_params.each do |param|
      %tr
        %th= param
        %td= form.data[param]
