%h3= form.template.name

%table.table.table-bordered.table-striped
  - form.elements.each do |element|
    - element.permitted_params.each do |param|
      %tr
        %th{ style: 'width: 30%;'}= param.titleize
        %td= form.data[param] if form.data
