- format_with ||= ->(value) {  value }
%table.table.table-striped.table-bordered.leaders
  %thead
    %tr
      %th{ :colspan => "3"}= title
  %tfoot
    %tr
      %td{ :colspan => "3"}
        %a{ :href => statistic_path(:division_slug => @division.slug, :season_slug => @season.slug, :view => view, :token => token) } More...
  %tbody
    - 3.times do |i|
      - record = players[i]
      %tr
        %td.logo= image_tag record.player.team.logo.thumb.url if record && record.player.team.logo?
        %td.player= record.player.full_name if record && record.player
        %td.stat= format_with.call(record[token]) if record
