body {
  background-color: white;
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px; }

a {
  color: black; }
  a:visited {
    color: #666666; }
  a:hover {
    color: white;
    background-color: black; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }

form li {
  padding: 5px 0px; }
  form li li {
    padding: 0; }
form fieldset {
  background: #eeeeee;
  margin-top: 20px; }
form li fieldset {
  padding: 0; }
form legend, form label {
  color: #333333; }
form label, form .label {
  padding-bottom: 0px;
  display: block;
  margin-left: 2px; }
  form label abbr, form .label abbr {
    color: red; }
form label {
  line-height: 1.4em;
  font-size: 13px; }
form legend span {
  font-size: 1.4em;
  line-height: 1em; }
  form legend span.label {
    font-size: 1em; }
form select {
  padding: 3px; }
form input, form textarea, form select {
  font-family: inherit;
  font-size: 14px; }
form textarea, form input {
  border: 1px solid #999999;
  padding: 6px 8px;
  line-height: 100%; }
form .date li, form .time li, form .datetime li {
  margin: 0 0.3em 0 0; }
form #errorExplanation li {
  margin-left: 15px; }
form form p, form .errors {
  padding: 3px 0px; }
form .required input, form .required textarea, form .required select {
  background-color: white; }
form .error input, form .error textarea, form .error select {
  background-color: #ffcccc;
  border: 1px solid #ff6666; }
form .optional input, form .optional textarea, form .optional select {
  background-color: white; }
form .errors {
  color: #aa0000; }
  form .errors li {
    margin-left: 1.2em; }
form p.inline-errors {
  color: red; }
form p.inline-hints {
  color: #777777; }
form .buttons {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px; }
  form .buttons li {
    padding-right: 0.5em; }
  form .buttons input {
    border: 1px solid #999999; }

#hat {
  background-color: #cccccc;
  height: 43px;
  border-bottom: solid 1px #666666;
  width: 100%; }

#hat-container {
  padding-bottom: 5px;
  margin: 0px auto;
  width: 800px; }

ul.user-tasks {
  float: right;
  height: 31px; }
  ul.user-tasks li {
    float: left;
    margin: 13px 0px 0px 15px; }
  ul.user-tasks a {
    color: #ff4000;
    font-weight: normal; }

#site-nav-container {
  width: 100%;
  position: relative; }

#breadcrumb-nav-container {
  width: 100%;
  position: relative;
  background-color: white;
  border-top: 1px #666666 solid;
  border-bottom: 1px #666666 solid; }

#area-nav-container {
  width: 100%;
  position: relative;
  background-color: black; }

#site-nav li {
  float: left;
  overflow: hidden;
  border: 1px solid #666666;
  margin: 1px 1px; }
  #site-nav li a {
    color: #222222;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    padding: 0px 5px 0px 5px; }

#breadcrumb-nav {
  z-index: 200000;
  position: relative;
  margin-left: 5px; }
  #breadcrumb-nav li {
    float: left;
    overflow: hidden;
    margin: 1px 0px 1px;
    padding: 0px 3px;
    position: relative;
    font-style: italic; }
    #breadcrumb-nav li a {
      border-bottom-style: none;
      color: inherit;
      float: left;
      font-size: 12px; }

#area-nav {
  height: 32px;
  z-index: 300000;
  position: relative; }
  #area-nav li {
    float: left;
    overflow: hidden;
    color: white;
    margin: 9px 0px 0px;
    padding: 0px 10px;
    position: relative; }
    #area-nav li a {
      border-bottom-style: none;
      color: inherit;
      float: left;
      font-size: 12px;
      text-shadow: black 0px -1px 0px; }

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li {
  border: 0px;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  vertical-align: baseline; }

body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0px;
  padding: 0px; }

a img {
  border: none; }

a {
  color: blue;
  font-weight: bold;
  text-decoration: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  margin: 0px auto;
  width: 800px; }

#container {
  background-color: white; }

#header {
  margin: 0px auto 0px;
  padding: 0px 0px;
  background-color: #dedede; }

#title {
  height: 40px;
  vertical-align: middle; }

#main {
  padding: 20px; }

#page_header h1 {
  margin-bottom: 20px; }

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error, #flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #cc0000;
  color: white; }

.error_messages p {
  margin: 8px 10px; }

.error_messages ul {
  margin: 0; }

ul, ol {
  list-style: none; }
