body {
  background-color: white;
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif; }

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px; }

a {
  color: black; }
  a:visited {
    color: #666666; }
  a:hover {
    color: white;
    background-color: black; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }

form li {
  padding: 5px 0px; }
  form li li {
    padding: 0; }
form fieldset {
  background: #eeeeee;
  margin-top: 20px; }
form li fieldset {
  padding: 0; }
form legend, form label {
  color: #333333; }
form label, form .label {
  padding-bottom: 0px;
  display: block;
  margin-left: 2px; }
  form label abbr, form .label abbr {
    color: red; }
form label {
  line-height: 1.4em;
  font-size: 13px; }
form legend span {
  font-size: 1.4em;
  line-height: 1em; }
  form legend span.label {
    font-size: 1em; }
form select {
  padding: 3px; }
form input, form textarea, form select {
  font-family: inherit;
  font-size: 14px; }
form textarea, form input {
  border: 1px solid #999999;
  padding: 6px 8px;
  line-height: 100%; }
form .date li, form .time li, form .datetime li {
  margin: 0 0.3em 0 0; }
form #errorExplanation li {
  margin-left: 15px; }
form form p, form .errors {
  padding: 3px 0px; }
form .required input, form .required textarea, form .required select {
  background-color: white; }
form .error input, form .error textarea, form .error select {
  background-color: #ffcccc;
  border: 1px solid #ff6666; }
form .optional input, form .optional textarea, form .optional select {
  background-color: white; }
form .errors {
  color: #aa0000; }
  form .errors li {
    margin-left: 1.2em; }
form p.inline-errors {
  color: red; }
form p.inline-hints {
  color: #777777; }
form .buttons {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px; }
  form .buttons li {
    padding-right: 0.5em; }
  form .buttons input {
    border: 1px solid #999999; }

#hat {
  background-color: #cccccc;
  height: 43px;
  border-bottom: solid 1px #666666;
  width: 100%; }

#hat-container {
  padding-bottom: 5px;
  margin: 0px auto;
  width: 800px; }

ul.user-tasks {
  float: right;
  height: 31px; }
  ul.user-tasks li {
    float: left;
    margin: 13px 0px 0px 15px; }
  ul.user-tasks a {
    color: #ff4000;
    font-weight: normal; }

#site-nav-container {
  width: 100%;
  position: relative; }

#breadcrumb-nav-container {
  width: 100%;
  position: relative;
  background-color: white;
  border-top: 1px #666666 solid;
  border-bottom: 1px #666666 solid; }

#area-nav-container {
  width: 100%;
  position: relative;
  background-color: black; }

#site-nav li {
  float: left;
  overflow: hidden;
  border: 1px solid #666666;
  margin: 1px 1px; }
  #site-nav li a {
    color: #222222;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    padding: 0px 5px 0px 5px; }

#breadcrumb-nav {
  z-index: 200000;
  position: relative;
  margin-left: 5px; }
  #breadcrumb-nav li {
    float: left;
    overflow: hidden;
    margin: 1px 0px 1px;
    padding: 0px 3px;
    position: relative;
    font-style: italic; }
    #breadcrumb-nav li a {
      border-bottom-style: none;
      color: inherit;
      float: left;
      font-size: 12px; }

#area-nav {
  height: 32px;
  z-index: 300000;
  position: relative; }
  #area-nav li {
    float: left;
    overflow: hidden;
    color: white;
    margin: 9px 0px 0px;
    padding: 0px 10px;
    position: relative; }
    #area-nav li a {
      border-bottom-style: none;
      color: inherit;
      float: left;
      font-size: 12px;
      text-shadow: black 0px -1px 0px; }

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li {
  border: 0px;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  vertical-align: baseline; }

body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  margin: 0px;
  padding: 0px; }

a img {
  border: none; }

.float-left, .left {
  float: left; }

.float-right, .right {
  float: right; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.hidden {
  display: none; }

.controls {
  padding: 5px; }

.mod-container {
  width: 100%;
  clear: both; }

.mod-content {
  background: white;
  font-size: 11px;
  border-width: 0 1px;
  border-color: #c2c2c2;
  border-style: solid;
  overflow: hidden;
  padding: 2px; }

.mod-footer {
  background: white;
  border-width: 0 1px 1px;
  border-color: #c2c2c2;
  border-style: solid;
  margin-bottom: 2px; }

.mod-table .mod-content {
  padding: 0 !important; }
.mod-table .mod-footer {
  text-align: left;
  margin-bottom: 6px;
  overflow: hidden; }
  .mod-table .mod-footer p {
    margin: 0;
    padding: 0 5px;
    font-size: 10px;
    line-height: 25px;
    overflow: hidden; }
  .mod-table .mod-footer .foot-header {
    color: white; }
  .mod-table .mod-footer .foot-content {
    padding: 8px;
    font-size: 11px;
    overflow: hidden; }
    .mod-table .mod-footer .foot-content ul {
      float: left;
      margin: 0 25px 10px 0; }
      .mod-table .mod-footer .foot-content ul li {
        padding-bottom: 4px; }
  .mod-table .mod-footer .foot-footer {
    background: #dddddd;
    clear: both;
    border-top: 1px solid #bbbbbb; }

.mod-no-header .mod-content {
  border-top-width: 1px; }

.mod-no-footer .mod-content {
  border-bottom-width: 1px; }

.mod-no-header-footer .mod-content {
  margin-bottom: 6px;
  border-top-width: 1px;
  border-bottom-width: 1px; }

.group-head {
  background-color: #227a92;
  color: white;
  font-weight: 700;
  font-size: 13px;
  padding: 5px;
  border-bottom: 1px solid #cccccc; }

.group-end {
  border-top: 1px solid #cccccc;
  height: 1px; }

table.stat {
  width: 100%; }
  table.stat td, table.stat th {
    padding: 3px 6px 3px 6px; }
  table.stat tr.group-head td, table.stat tr.group-head th {
    background-color: #227a92;
    border-bottom: 1px solid #cccccc;
    color: white;
    font-weight: 700;
    font-size: 13px; }
  table.stat tr.col-head td, table.stat tr.col-head th {
    background: -webkit-gradient(linear, left top, left bottom, from(#c2c2c2), to(#e8e8e8));
    background: -moz-linear-gradient(top, #c2c2c2, #e8e8e8);
    color: #444444;
    border-bottom: 1px #c2c2c2 solid;
    font-weight: 700;
    font-size: 11px; }
  table.stat tr.even td {
    background-color: #f1f1f1; }

#container {
  margin: 0px auto;
  width: 800px; }

#container {
  background-color: white; }

#header {
  margin: 0px auto 0px;
  padding: 0px 0px;
  background-color: #dedede; }

#title {
  height: 40px;
  vertical-align: middle; }

#main {
  padding: 20px; }

#page_header h1 {
  margin-bottom: 20px; }

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error, #flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #cc0000;
  color: white; }

.error_messages p {
  margin: 8px 10px; }

.error_messages ul {
  margin: 0; }

.no-margin {
  border: none; }

ul.message {
  padding: 0.583em 0px 0.083em; }
  ul.message li {
    background-position: 0.8em 0.1em;
    background-repeat: no-repeat;
    font-size: 0.833em;
    line-height: 1.3em;
    padding: 0.2em 1em 0.8em 3em;
    text-transform: uppercase; }

ul.controls-buttons {
  float: right; }
  ul.controls-buttons li {
    display: block;
    float: left;
    line-height: 1.333em;
    margin: -1px 0px -1px 0.5em;
    padding: 0.333em 0.25em; }
    ul.controls-buttons li a {
      line-height: 1.333em;
      margin: -0.333em -0.25em; }

.message li, div.message, p.message {
  color: #576a73; }

.message {
  background-color: #e4e4dc;
  border-color: #999999;
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.496);
  background: #f0f0f0;
  border: 1px solid #999999;
  border-bottom-left-radius: 0.333em 0.333em;
  border-bottom-right-radius: 0.333em 0.333em;
  border-top-left-radius: 0.333em 0.333em;
  border-top-right-radius: 0.333em 0.333em;
  line-height: 1.25em;
  margin-bottom: 2.5em;
  position: relative;
  z-index: 89; }

.block_content {
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.496);
  background: white-webkit-box-shadow 0px 1px 3px rgba(0, 0, 0, 0.496);
  border: 1px solid #999999;
  border-bottom-left-radius: 0.25em 0.25em;
  border-bottom-right-radius: 0.25em 0.25em;
  border-top-left-radius: 0.25em 0.25em;
  border-top-right-radius: 0.25em 0.25em;
  padding: 1.667em;
  position: relative; }
  .block_content .no-margin {
    margin-left: -1.667em;
    margin-right: -1.667em; }
  .block_content .message {
    -webkit-box-shadow: none; }
    .block_content .message.no-margin {
      margin: 0px -1.667em 1.667em;
      -webkit-background-clip: padding-box;
      border-bottom-left-radius: 0px 0px;
      border-bottom-right-radius: 0px 0px;
      border-width: 1px 0px;
      border-top-left-radius: 0px 0px;
      border-top-right-radius: 0px 0px; }
  .block_content h1, .block_content .h1 {
    -webkit-background-clip: padding-box;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.496);
    border-bottom-left-radius: 0.278em 0.278em;
    border-bottom-right-radius: 0.278em 0.278em;
    border-top-left-radius: 0.278em 0.278em;
    border-top-right-radius: 0.278em 0.278em;
    left: 0.5em;
    margin: 0px;
    position: absolute;
    top: -0.444em;
    z-index: 100;
    -webkit-background-size: 100% 100%;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.03, #72c6e4), to(#0c5fa5));
    background-size: 100% 100%;
    border-color: initial;
    border: 1px solid;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 0.278em 0.444em 0.389em;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.199); }
  .block_content .block-controls:first-child {
    border-top-left-radius: 0.2em 0.2em;
    border-top-right-radius: 0.2em 0.2em;
    margin-top: -2.833em; }

.block_content {
  padding-top: 2.833em; }

.block_border {
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.496);
  background: rgba(255, 255, 255, 0.199);
  border-color: rgba(255, 255, 255, 0.746);
  border-bottom-left-radius: 0.8em 0.8em;
  border-bottom-right-radius: 0.8em 0.8em;
  border: 1px solid rgba(255, 255, 255, 0.746);
  border-top-left-radius: 0.8em 0.8em;
  border-top-right-radius: 0.8em 0.8em;
  padding: 0.833em; }
  .block_border .block_content {
    -webkit-box-shadow: 0px 0px 0.8em rgba(255, 255, 255, 0.496); }

.block_controls {
  -webkit-background-size: 100% 100%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.88, #e5e5e5), to(#d8d8d8));
  background-size: 100% 100%;
  margin: 0px -1.667em 1.667em;
  padding: 1em;
  text-align: right;
  display: block; }

.dark-grey-gradient {
  -webkit-background-size: 100% 100%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3d3d3d), color-stop(0.02, #484848), color-stop(0.08, #585858), to(#666666));
  background-size: 100% 100%;
  color: white; }

ul, ol {
  list-style: none; }

ul.grid {
  padding: 0.75em 0px 0px 0.75em;
  display: block; }
  ul.grid > li {
    webkit-background-clip: padding-box;
    -webkit-background-size: 100% 100%;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.496);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(whiteSmoke), to(#cccccc));
    background-size: 100% 100%;
    border: 1px solid white;
    border-bottom-left-radius: 0.417em 0.417em;
    border-bottom-right-radius: 0.417em 0.417em;
    border-top-left-radius: 0.417em 0.417em;
    border-top-right-radius: 0.417em 0.417em;
    color: #333333;
    float: left;
    margin: 0px 0.75em 0.75em 0px;
    padding: 0.75em;
    position: relative;
    width: 17em; }
    ul.grid > li .grid-name {
      color: #373737;
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 0.25em; }
    ul.grid > li .grid-details {
      color: gray; }
      ul.grid > li .grid-details b {
        color: #333333;
        font-weight: normal; }
    ul.grid > li .grid-actions {
      -webkit-background-size: 100% 100%;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#b3b3b3));
      background-size: 100% 100%;
      border-bottom-left-radius: 0px 0px;
      border-bottom-right-radius: 0.333em 0.333em;
      border-left: 1px solid white;
      border-top-left-radius: 0px 0px;
      border-top-right-radius: 0.333em 0.333em;
      bottom: 0px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 1.7em; }
      ul.grid > li .grid-actions li {
        border-bottom: 1px solid #b3b3b3;
        border-top: 1px solid white;
        height: 1.75em;
        line-height: 1.75em;
        text-align: center; }
        ul.grid > li .grid-actions li:first-child {
          border-top: none; }
        ul.grid > li .grid-actions li:last-child {
          border-bottom: none; }
