<div class="row">
  <div class="col-xs-2">
    {{#link-to 'game.penalty.edit' model.id class="btn btn-primary"}}Edit{{/link-to}}
  </div>
  <div class="col-xs-8">
    {{model.team.shortName}}
    {{model.period}}
    {{model.formattedTime}}
    {{model.constructor.modelName}}
  </div>
</div>