- title 'Upcoming Games'
- page_actions do
  = link_to 'Subscribe', subscribe_user_path, :class => 'btn btn-primary', method: :post

= render partial: 'month', collection: @games.group_by{|g| g.starts_on.beginning_of_month}
