.device_key= @device_key

:css
  body {
    font-family: Roboto, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #000000
  }
  .device_key {
    width: 50%;
    display: inline-block;
    text-align: center;
    font-size: 128px;
    padding: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #444444;
  }

:javascript
  var ONE_SECOND = 1000;
  $(function() {
    window.setTimeout(function() {
      console.log('refreshing')
      location.reload(true)
    }, 10 * ONE_SECOND)
  })