%h1= @league.name

.row
  .col-sm-8
  .col-sm-4
    .panel.panel-default
      .panel-heading Manage
      %ul.list-group
        %li.list-group-item= link_to 'Divisions', admin_league_program_divisions_path(@league)
        %li.list-group-item= link_to 'Seasons', admin_league_program_seasons_path(@league)
