%h1= @league.name

.row
  .col-sm-8
  .col-sm-4
    .panel.panel-default
      .panel-heading Divisions
      %ul.list-group
        - @league.divisions.each do |division|
          %li.list-group-item= division.name
    .panel.panel-default
      .panel-heading Seasons
      %ul.list-group
        - @league.seasons.each do |season|
          %li.list-group-item= season.name
