- title 'Your Registrations'

%table.ui.celled.table
  %thead
    %tr
      %th Item
      %th Started
      %th Completed
      %th Status
      %th
  %tbody
    = render partial: "registration", collection: @registrations, locals: { admin: false }
