- title 'Your Registrations'

%table.ui.celled.table
  %thead
    %tr
      %th Product
      %th Participant
      %th Started At
      %th Status
      %th
  %tbody
    = render partial: "registration", collection: @registrations, locals: { admin: false }
