- title 'New Registration'

= render partial: 'form', locals: local_assigns

-# = react_component 'registration', {}, { camelize_props: true }
-# - content_for :javascript do
-#   = javascript_pack_tag :application

-# - if current_user
-#   = render partial: 'form', locals: local_assigns
-# - else
-#   = render partial: 'email', locals: local_assigns
