- first_day = date.beginning_of_month.beginning_of_week(start_day = :sunday)
- last_day = date.end_of_month.end_of_week(start_day = :sunday)
- range =  @start_date ? (@start_date.to_date..@end_date.to_date) : []

%table.ui.celled.unstackable.calendar.table
  %thead
    %tr
      %th{ colspan: 7 }= date.strftime('%B %Y')
    %tr
      %th S
      %th M
      %th T
      %th W
      %th T
      %th F
      %th S
  %tbody
    - (first_day..last_day).to_a.in_groups_of(7).each do |group|
      %tr
        - group.each do |day|
          - disabled = date.strftime('%m') != day.strftime('%m')
          - today = day.to_date == Date.today
          %td.day{ class: [disabled && :disabled, !disabled && :selectable, today && :positive, !disabled && range.include?(day) && :active] }
            = link_to_unless disabled, day.strftime('%e'), { date: day, locations: params[:locations] }

:css
  .ui.calendar.table th,
  .ui.calendar.table td {
    text-align: center;
    padding: 3px;
  }
  .ui.calendar.table a {
    padding: 3px !important;
  }  