.ui.segments
  .ui.segment
    %h5.ui.header TAGS
    .ui.small.labels
      - tags.sort_by(&:name).each do |tag|
        - tags = Array.wrap(params[:tags]).clone
        - btn_class = tags.include?(tag.name) ? '' : 'basic'
        - tags = tags.concat([tag.name]) unless tags.delete(tag.name)
        = link_to tag.name, params.permit!.merge(tags: tags, date: nil), class: "ui #{btn_class} label"  