
html, body {
  min-height: 100%;
}

#wrapper {
  // margin-top: 60px;
  min-height: 600px;
}

header {
  h1 {
    margin-bottom: 10px;
  }
}

th.primary {
  background-color: $navbar-default-bg !important;
  color: $navbar-default-link-color !important;
}

.breadcrumb {
  margin: 0;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

// responsive menu
@media only screen and (max-width: 700px) {

}

.page-title {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}


/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}

@media (max-width: 768px) {

  .body {
    padding-top: 0 !important;
  }

  /* Subnav */
  .subnav {
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    background: #fff; /* whole background property since we use a background-image for gradient */
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .subnav .nav > li {
    float: none;
  }
  .subnav .nav > li > a {
    border: 0;
  }
  .subnav .nav > li + li > a {
    border-top: 1px solid #e5e5e5;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
      -webkit-border-radius: 4px 4px 0 0;
         -moz-border-radius: 4px 4px 0 0;
              border-radius: 4px 4px 0 0;
  }
}

@media (max-width: 980px) and (min-width: 768px) {
  body {
    padding-top: 0;
  }
}

.clear {
  clear: both;
}

.social {
  float: right;
  a {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    color: #fff;
  }
  .twitter {
    background-color: #00aced;
  }
  .facebook {
    background-color: #3b5998;
  }
  .google_plus {
    background-color: #dd4b39;
  }
  .instagram {
    background-color: #517fa4;
  }
  .foursquare {
    background-color: #0072b1;
  }
}

.feed {
  .post {
    .title {
      margin-bottom: 0px;
    }
    .created {
      color: #666;
    }
    .summary {

    }
    .read_more {

    }
  }
}

.tab-pane,
.tab-content {
  padding: 10px;
  border: 1px solid #dddddd;
  border-top-color: transparent;
  background-color: #fff;
}

select {
  font-size: 50px;
}

.dropdown-header {
  text-transform: uppercase;
  font-weight: bold;
}

.form-group.date {

  // @extend .clearfix;

  label.date {
    display: block;
  }

  select.date {
    // @extend .pull-left;
    max-width: 100px;
  }
}

// .tiled {
//   .dummy {
//     margin-top: 100%
//   }
//   .tile {
//     @extend .thumbnail;
//     position: absolute;
//     top: 15px;
//     bottom: 0;
//     left: 15px;
//     right: 15px;
//     text-align:center;
//     padding-top:calc(50% - 45px);
//     //background-color: $brand-primary
//   }
//   i.fa {
//     font-size: 3em;
//   }
// }

.tiled {

  .tile {
    // @extend .thumbnail;
    padding: 15px;
    display: flex;
    ////justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  i.fa {
    font-size: 3em;
  }
}


.social-link {
  a {
    color: #FFF;
    i.fa {
      width: 20px;
    }
  }
}

@mixin jagged-border($sc,$ec,$sx,$sy){
  background:
    linear-gradient(
      45deg, $sc 33.333%,
      $ec 33.333%, $ec 66.667%,
      $sc 66.667%
    ),
    linear-gradient(
      -45deg, $sc 33.333%,
      $ec 33.333%, $ec 66.667%,
      $sc 66.667%
    );
  background-size: $sx $sy;
}

.jagged-border {
  position: relative;
  width: 100%;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 1px 2px);

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    width: 100%;
    height: 10px;
  }
}

#page-header{
  margin-top: 10px;
}

#footer {
  .container {
    padding: 20px 20px;
  }
}

.markdown {
  table {
    // @extend .table;
    // @extend .table-bordered;
    // @extend .table-striped;
    width: auto;
  }
}
