

// TEAM BRANDING
// --------------------------------
.team {
  .well {
    position: relative; 
    height: 110px;
    padding: 0;    
  }
  .logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5px;
    left: 5px;
    img {
     width: 100%;
     height: 100%;
    }
  }
  .name {
    position: absolute;
    left: 120px;
    top: 10px; 
  }
  .links {
    position: absolute;
    left: 120px;
    top: 65px;    
  }
}
.banner {
  .team {
    .well {
      margin-bottom: 0;
    }
  }
}

// SHARED
// --------------------------------

.row.options div {
  margin-bottom: 10px;
}

.pagination.date_range {
  width: 100%;
  margin: 0;
  .prev {
    a {
      width: 30%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: clip;
    }
  }
  .disabled {
    a {
      width: 40%;
      text-align: center;
    }
  }
  .next {
    a { 
      width: 30%;
      text-align: right;
    }
  }
}


// SCOREBOARD
// --------------------------------

.scoreboard .group-head {
  padding: 3px 5px;
  border-bottom: 2px solid $gray-light;
  background-color: $gray-lighter;
  margin-bottom: 18px;
}
.scoreboard .group-foot {
  clear: both;
}
.scorecard {
  padding: 1px;
  margin-bottom: 18px;   
}
.scorecard .inner {
  background-color: $gray-lighter;
  border: 1px solid $gray-light;
  padding: 2px;
}

.scorecard {
  .status {
    padding: 2px 4px;
    font-weight: bold;
    font-size: 10pt;
    border-bottom: solid 1px $gray-light;
  }
  .matchup {
    table {
      width: 100%;
    }
    td.logo {
      width: 50px;
      height: 50px;      
      img {
       height: 50px;
       width: 50px;
      }      
    }
    td.name {
      padding-left: 10px;
      line-height: 50px;
      font-size: 24px;
      font-weight: bold;
    }
    td.score {
      width: 80px;
      line-height: 50px;
      font-size: 24px;
      font-weight: bold;
      text-align: right;
      padding-right: 10px;
    }
  }
  .team {
    position: absolute;
    height: 50px;
    width: 294px;
    .logo, .name, .score, {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 0px;
    }

    .name, .score {
      font-size: 18px;
      font-weight: bold;
      line-height: 50px;
    }
    .name {
      left: 50px;
      padding-left: 10px;
    }
    .score {
      right: 0px;
      width: 100px;
      padding-right: 20px;
      text-align: right;
    }
  }
  .home {
    top: 50px;
  }
  .away {
    top: 0px;
  }
}

.scorecard .game-links {
  margin-top: 2px;
  padding: 4px;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  font-size: 8pt;
}

.scorecard .line-score {
  border-bottom: 1px solid $gray-light;
  table {
    margin-bottom: 0;
    td, th {
      font-size: 8pt;
      padding: 2px;
    }
    th.period, th.final, td.period, td.final {
      text-align: center;
      width: 25px;
    }
    td.final {
      font-weight: bold;
    }
  }
}

// BOXSCORE
// --------------------------------

.boxscore h4 {
  margin-bottom: 20px;
}
.boxscore .status {
  background-color: $gray-lighter;
  padding: 5px;
}
.boxscore .summary {
  @include make-xs-column(12);  
  .matchup {
    padding: 5px;
  }
  .team {
    float: left;
    width: 200px;
    .logo {
      float: left;
      height: 50px;
      width: 50px;
      margin-right: 10px;
      border: 1px solid $gray-lighter;
    } 
  }
  .logistics {
    padding: 5px;
    clear: both;  
  }
  .clear {
    clear: both;
  }
}
.boxscore .linescore {
  @include make-xs-column(4);
}
.boxscore .teamstats {
  margin-bottom: 18px;
  .stat {
    @include make-xs-column(4);
  }
  table {
    margin-bottom: 0;
  }
  .goals, .shots, .pim {
    border: 1px solid #ddd;
    padding: 4px;
  }
  span.bar {
    float: left;
    margin-right: 10px;
    display: block;
    height: 18px;
    background-color: $gray-light;
  }
}
.boxscore .minute-by-minute {
  @include make-xs-column(12)
}
.boxscore .game-activity {
  @include make-xs-column(12)
}
.boxscore .player-summary {
  @include make-xs-column(12)
}
.boxscore .goaltender-summary {
  @include make-xs-column(12)
}
.boxscore .shots-on-goal {
  @include make-xs-column(12)
}


// STATISTICS
// ---------------------------------

table.leaders {
  td { 
    vertical-align: middle;
  }
  td.logo {
    padding: 0; 
    width: 50px;
    height: 50px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  td.stat {
    width: 50px;
    text-align: center;
  }
}

table.statistics {
  td { 
    vertical-align: middle;
  }
  td.logo {
    padding: 0; 
    width: 50px;
    height: 50px;
  }
  th.stat,
  td.stat {
    width: 50px;
    text-align: center;
  }
  th.active,
  td.active {
    background-color: #f3f3f3 !important;
  }
}

