
// BLOCKS
// ---------------------------------

.block {
  margin-bottom: 15px;
}

.block,
.section
{
  .chrome {
    padding: 2px;
    // @include gradient-vertical(#DEDEDE,#CCC);
    display: none;
    .title {
      float: left;
      font-weight: bold;
    }
    .buttons {
      float: right;
    }
    .clear {
      clear: both;
    }
  }

}

.add-section {
  width: 100%;
}


.section:first-child .move_section_up {
  display: none;
}
.section:last-child .move_section_down {
  display: none;
}
.blocks .block:first-child .move_up {
  display: none;
}
.blocks .block:last-child .move_down {
  display: none;
}
.blocks .block div.actions > div {
  display: none;
}
.columns .column:first-child .move_left {
  display: none;
}
.columns .column:last-child .move_right {
  display: none;
}
#sections .section:first-child .section_up {
  display: none;
}
#sections .section:last-child .section_down {
  display: none;
}



// TREE
// -----------------------------------

.tree {
  .handle {
    cursor: grab;
  }
  ul {
    margin-left: 0px;
    padding-left: 0px;
  }
  .trunk > li:first-child {
    background-image: asset-url("branch-start.gif");
  }
  ul li {
    margin: 0;
    padding: 4px 0px 0px 32px;
    background: asset-url("branch.gif") no-repeat 15px 0px;
  }
  li {
    line-height: 25px;
    display: block;
    position: relative;
  }
  ul li.branch_start {
    background-image: asset-url("branch-start.gif");
  }
  ul li:last-child {
    background-image: asset-url("branch-end.gif");
  }
  ul li > div {
    padding: 4px 8px;
    border: 1px dashed #999;
  }
  ul li > div:hover {
    background-color: #DEDEDE;
  }
  .actions {
    float: right;
    //display: none;
  }
  ul li > div:hover > .actions{
    display: block;
  }
}

