template
  require(from="./index.css")
  require(from="./elements/calendar-date-stepper")    
  require(from="./elements/calendar-view-selector")    
  require(from="./elements/calendar-table")


  h1 Calendar

  .toolbar
    calendar-date-stepper(date.bind="date", on-step.call="setDate(date)")
    | 
    calendar-view-selector(select.bind="show", view-name.bind="view", on-select.call="setView(viewName)")

  hr
  | ${startDate} - ${endDate}
  calendar-table(date.bind="date" start-date.bind="startDate" end-date.bind="endDate")
  br

