
.calendar-table {
  display: table;
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;  
}

.calendar-table-row {
  display: table-row;
}

.calendar-table-day {
  display: table-cell;
  height: 120px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.calendar-table-day.today {
  background-color: #f3f3f3;
}
