
#game_starts_on {
  max-width: 300px;
}

#game_duration {
  max-width: 100px;
}

#game_venue_id {
  max-width: 400px;
}

#game_away_team_id,
#game_away_team_name,
#game_home_team_id,
#game_home_team_name {
  max-width: 400px;
}

#game_text_before,
#game_text_after {
  max-width: 400px;
}