
#hockey_goal_per {
  max-width: 80px;
}

#hockey_goal_min,
#hockey_goal_sec {
  max-width: 80px;
}

#hockey_goal_side {
  max-width: 400px;
}

#hockey_goal_plr,
#hockey_goal_a1,
#hockey_goal_a2,
#hockey_goal_str {
  max-width: 80px;
}