
#hockey_penalty_period,
#hockey_penalty_minute,
#hockey_penalty_second {
  max-width: 80px;
}

#hockey_penalty_team_id {
  max-width: 400px;
}

#hockey_penalty_infraction {
  max-width: 400px;
}

#hockey_penalty_severity {
  max-width: 200px;
}

#hockey_penalty_committed_by,
#hockey_penalty_duration,
#hockey_penalty_start_period,
#hockey_penalty_start_minute,
#hockey_penalty_start_second,
#hockey_penalty_end_period,
#hockey_penalty_end_minute,
#hockey_penalty_end_second {
  max-width: 80px;
}