
#hockey_goal_period {
  max-width: 80px;
}

#hockey_goal_minute,
#hockey_goal_second {
  max-width: 80px;
}

#hockey_goal_team_id,
#hockey_goal_scored_by_id,
#hockey_goal_assisted_by_id,
#hockey_goal_also_assisted_by_id {
  max-width: 400px;
}

#hockey_goal_strength {
  max-width: 80px;
}