
#team_name,
#team_club_id,
#team_division_id,
#team_pool {
  max-width: 300px;
}

#team_short_name {
  max-width: 150px;
}

#team_seed {
  max-width: 50px;
}

#team_logo,
#team_remote_logo_url {
  max-width: 400px;
}