- title 'Standings'

.ui.grid
  .four.wide.column= render :partial => 'shared/season_options', :object => @season_options

#standings
  = render "standings/templates/#{@division.standings_schema_id}"

:css
  .redirect_to.ui.dropdown {
    margin-bottom: 10px;
  }
  #standings .mobile.only.grid {
    margin-top: -1rem;
  }