.team-box {
  border: 1px solid #c2c2c2;
  float: left;
  width: 300px;
  margin: 5px;
  padding: 5px; }
  .team-box .team-logo {
    float: left;
    background: #cccccc;
    height: 50px;
    width: 50px;
    margin-right: 5px; }
  .team-box .team-name {
    margin-top: 7px; }
    .team-box .team-name a {
      font-size: 14px;
      text-decoration: none;
      font-weight: bold; }
