= simple_form_for [:admin, @club] do |f|
  = f.input :name
  = f.input :short_name
  = f.button :wrapped, :cancel => return_url

:css
  .club_name {
    width: 400px;
  }
  .club_short_name {
    width: 200px;
  }