- title "Clubs"
- page_actions do
  = link_to 'New Club', new_admin_club_path, class: [:ui, :primary, :button]

.ui.container
  %table.ui.celled.striped.table
    %thead
      %tr
        %th Name
        %th Actions
    %tbody
      - @clubs.each do |club|
        %tr
          %td #{club.name}
          %td.collapsing
            = link_to 'Edit', edit_admin_club_path(club), class: [:ui, :mini, :primary, :button]
            = link_to 'Delete', [:admin, club], confirm: 'Are you sure?', method: :delete, class: [:ui, :mini, :primary, :button]

