.season-card
  %strong #{season.name}
  .action.block
    .season_edit #{link_to 'Edit', edit_admin_season_path(season)}
    .season_delete #{link_to 'Delete', [:admin, season], :confirm => 'Are you sure?', :method => :delete}

