.navbar
  .navbar-inner
    = link_to icon('file')+" Add New Page", new_admin_page_path, :id => "add_block", :class => 'btn'
    = link_to icon('th-list')+" List All Pages", admin_pages_path, :id => "add_block", :class => 'btn'
    = link_to icon('edit')+" Edit This Page", edit_page_path(@page), :id => "add_block", :class => 'btn'