.ui.modal#block-catalog
  = semantic_icon(:close)
  .header Add Block
  .content
    = form_for [@page, Block.new], :html => { :id => 'new_block' }, :remote => true do |f|
      %input{ :type => :hidden, :id => :block_type, :name => :block_type }
      %input{ :type => :hidden, :id => :page_id, :name => :page_id, :value => @page.id }
      %input{ :type => :hidden, :id => :section_id, :name => :section_id }
      %input{ :type => :hidden, :id => :column, :name => :column }
      %table.ui.table
        %tbody      
          - t('blocks').each do |block|
            %tr
              %td
                %button.ui.primary.button.add_block{ type: :submit, data: { block_type: block[0] } }= semantic_icon(:plus) + ' Add'
              %td
                %strong= block[1][:name]
                %br
                =block[1][:description]
