#section-catalog.modal.hide.fade{ :role => "dialog"}
  .modal-header
    %button.close{ :"data-dismiss" => 'modal', :"aria-hidden" => 'true' }!= "&times;"
    %h3 Add Section
  .modal-body
    - Section.patterns.each do |pattern|
      %div{ :style => "border-bottom: 1px solid #dedede;"}
        %div.pull-left{ :style => ""}
          = link_to icon('plus')+" Add", admin_page_sections_path(@page.id, :pattern => pattern), :method => :post, :remote => true, :class => 'btn', :style => "margin-top: 2px; margin-bottom: 2px;"
        %div.pull-left{ :style => "margin-left: 10px"}
          %table{ :"cell-spacing" => 4, :border => 4, :width => "400"}
            %tr
              - pattern.split("|").each do |col|
                %td{ :width => "#{col}%", :align => "center" }= "#{col}"
        .clear  
  .modal-footer