- title 'Pages'

- content_for :actions do
  = link_to icon('plus')+" New Page", new_page_path, :class => 'btn btn-default'

- content_for :javascript do
  :javascript
    $(function() {
      $("#pages ul").sortable({
        handle: ".handle",
        revert: "true",
        opacity: 0.7,
        placeholder: "ui-state-highlight",
        update: function( event, ui ) {  
          var items = $(this).sortable('serialize');
          $.ajax({
            type: 'post',
            data: items ,
            dataType: 'json',
            url: '#{position_pages_path(@page)}'
          }); 
        }
      });
      $("a[rel='tooltip']").tooltip();
    });

%section#pages.tree.well
  %ul.trunk
    - @pages.each do |page|
      = render :partial => 'branch', :object => page

:css
  .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
