- title "Venues"

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    - @venues.each do |venue|
      %tr
        %td #{venue.name}
        %td
          = link_to 'Edit', edit_admin_venue_path(venue), :class => 'btn btn-mini'
          = link_to 'Delete', [:admin, venue], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini'
= link_to 'New Venue', new_admin_venue_path, :class => "btn"
