<div class="calendar-timetable">
  <div class="header">

  </div>
  <div class="main">
    <div class="time-column">
      <ul class="time-labels">
        {{#each hours as |hour|}}
          {{timetable-time-label hour=hour}}
        {{/each}}
      </ul>
    </div>
    <div class="content">
      <div class="timetable">
        <ul class="time-slots">
          {{#each hours as |hour|}}
          <li class="time-slot"></li>
          <li class="time-slot"></li>
          {{/each}}
        </ul>
        <ul class="day-columns">
          {{timetable-day-column events=model width="100%"}}
        </ul>
      </div>
    </div>
  </div>

</div>
