
<div>
  <div class="cal-day-hour">
    <div class="cal-day-hour-part">
      <div class="col-xs-1">8:00</div>
      <div class="col-xs-11"></div>
    </div>
    <div class="cal-day-hour-part">
      <div class="col-xs-1">8:30</div>
      <div class="col-xs-11"></div>
    </div>
  </div>
  <div class="cal-day-hour">
    <div class="cal-day-hour-part">
      <div class="col-xs-1">9:00</div>
      <div class="col-xs-11"></div>
    </div>
    <div class="cal-day-hour-part">
      <div class="col-xs-1">9:30</div>
      <div class="col-xs-11"></div>
    </div>
    <div class="cal-day-hour">
    <div class="cal-day-hour-part">
      <div class="col-xs-1">10:00</div>
      <div class="col-xs-11"></div>
    </div>
    <div class="cal-day-hour-part">
      <div class="col-xs-1">10:30</div>
      <div class="col-xs-11"></div>
    </div>
  </div>
  <div class="cal-day-hour">
    <div class="cal-day-hour-part">
      <div class="col-xs-1">11:00</div>
      <div class="col-xs-11"></div>
    </div>
    <div class="cal-day-hour-part">
      <div class="col-xs-1">11:30</div>
      <div class="col-xs-11"></div>
    </div>
  </div></div>
</div>