<div>
  <div class="cal-column">
  	
  </div>
  <div class="cal-column">
  	
  </div>
  <div class="cal-column">
  	
  </div>
  <div class="cal-column">
  	
  </div>
  <div class="cal-column">
  	
  </div>
  <div class="cal-column">
  	
  </div>
  <div class="cal-column">
  	
  </div>
</div>