- title "New Game Import"
= simple_form_for [:admin, @game_import], :html => {:multipart => true} do |f|
  = f.input :season_id, :as => :select, :collection => @season_options
  = f.input :contents, :as => :file
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
