%h2
  = "Goals"
  = link_to 'Edit Goals', edit_admin_hockey_statsheet_path(@statsheet, :form => 'goals_sum'), :remote => true, :class => 'btn btn-mini'
#goals_sum
  = render :partial => 'admin/hockey_statsheets/goals_sum_table'


