.ui.right.aligned.segment
  = link_to 'Add Goaltender', new_admin_hockey_statsheet_goaltender_path(@statsheet), remote: true, class: [:ui, :primary, :mini, :button]
  = link_to 'Auto Load Goaltenders', autoload_admin_hockey_statsheet_goaltenders_path(@statsheet), remote: true, method: :post, class: [:ui, :primary, :mini, :button]
#goaltenders
  = render partial: 'admin/hockey_goaltenders/list', locals: { goaltenders: @statsheet.goaltenders }

