.ui.right.aligned.segment
  = link_to 'Add Goal', new_admin_hockey_statsheet_goal_path(@statsheet), remote: true, class: [:ui, :primary, :mini, :button]
#goals 
  = render :partial => 'admin/hockey_goals/table', :locals => {:goals => @statsheet.goals}
- if  @statsheet.goals.count > 10
  .ui.right.aligned.segment
    = link_to 'Add Goal', new_admin_hockey_statsheet_goal_path(@statsheet), remote: true, class: [:ui, :primary, :mini, :button]