.ui.right.aligned.segment
  = link_to 'Add Penalty', new_admin_hockey_statsheet_penalty_path(@statsheet), remote: true, class: [:ui, :primary, :mini, :button]
#penalties
  = render :partial => 'admin/hockey_penalties/table', :locals => {:penalties => @statsheet.penalties}
- if @statsheet.penalties.count > 10
  .ui.right.aligned.segment
    = link_to 'Add Penalty', new_admin_hockey_statsheet_penalty_path(@statsheet), remote: true, class: [:ui, :primary, :mini, :button]
