
#event_league_id,
#event_season_id {
  max-width: 400px;
}

#event_starts_on {
  max-width: 300px;
}

#event_duration {
  max-width: 100px;
}

#event_venue_id {
  max-width: 400px;
}

#event_summary {
  max-width: 400px;
}
