
#hockey_penalty_per,
#hockey_penalty_min,
#hockey_penalty_sec {
  max-width: 80px;
}

#hockey_penalty_side {
  max-width: 400px;
}

#hockey_penalty_inf {
  max-width: 400px;
}

#hockey_penalty_severity {
  max-width: 200px;
}

#hockey_penalty_plr,
#hockey_penalty_dur,
#hockey_penalty_start_per,
#hockey_penalty_start_min,
#hockey_penalty_start_sec,
#hockey_penalty_end_per,
#hockey_penalty_end_min,
#hockey_penalty_end_sec {
  max-width: 80px;
}