- if block.file.present?
  %h4{ style: 'display: flex; align-items: center;'}
    = icon(block.icon, nil, { class: 'fa-2x', style: 'margin-right: 10px;', title: "#{block&.extension&.upcase} file" })
    = link_to block.title, block.file.url, :target => '_blank'
