
.navbar-black {
  background-color : #000;
  color            : #FFF;
  a {
    color: #CCC;
  }
  .navbar-brand {
    font-family      : "orbitron";
    font-size        : 24px;
  } 
  .nav > li > a:hover, 
  .nav > li > a:focus {
    background-color: #666;
    color: #FFF;
  }
}

