%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{ :scope => 'col' } GP
      %th{ :scope => 'col' } #
      %th{ :scope => 'col' } NAME
      %th{ :scope => 'col' } 
  %tbody
    - if players.count == 0
      %tr
        %td{ :colspan => 4 } No players have been loaded
    - else
      = render :partial => 'admin/hockey_players/player', :collection => players

