<% title 'Scoreboard' %>
<% breadcrumbs @season.breadcrumbs %>
<% content_for :area_menu do %>
  <%= render  "league/shared/season_area_menu" %>
<% end %>

<% @last_date = DateTime.now.to_date %>

<% @games.each do |game| %>
  
  <% if game.starts_on.to_date < @last_date %>
    <div style="clear: both;"></div>
    <div style="background-color: #dedede; width: 100%; padding: 5px;"><%= game.starts_on.to_date %></div>
    <% @last_date = game.starts_on.to_date %>
  <% end %>
  
  <%= render :partial => "score_card", :locals => { :game => game } %>

<% end %>
<div style="clear: both;"></div>
