- title @division.name + ' Players'
.row.options
  .col-sm-4
    = render :partial => 'shared/season_options', :object => @season_options
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th NUM
      %th NAME
  %tbody
    - @players.each do |player|
      %tr
        %td #{player.jersey_number}
        %td
          = link_to player.full_name, player_path(player.id)
