- title 'Players'

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th NUM
      %th NAME
  %tbody
    - @players.each do |player|
      %tr
        %td #{player.jersey_number}
        %td
          = player.full_name
