- title 'Products'
- page_actions do
  = link_to 'Connect with Stripe', stripe_connects_path, method: :post, class: [:ui, :primary, :button]
  = link_to 'New Product', new_admin_product_path, class: [:ui, :primary, :button]

