- title 'Products'
- page_actions do
  = link_to 'New Product', new_admin_product_path, class: [:ui, :primary, :button] if current_user_is_admin?
- area_menu do
  = area_menu_item 'Dashboard', [:admin, :products, :dashboard]
  = area_menu_item 'Products', [:admin, :products]  
- wrapper class: [:ui, :container]

= render partial: 'admin/products/products_table', locals: { products: @products }