= simple_form_for [:admin, @season, @division] do |f|
  = f.input :league_id, :collection => @leagues if %w{new create}.include? params[:action]
  = f.input :name
  = f.button :wrapped, :cancel => return_url

