%h1= @post.title
= image_tag(@post.image_url, class: 'img-responsive', style: 'margin: 0 auto;') if @post.image_url.present?
- if @post.summary.present?
  = @post.summary
  - if @post.body.present?
    %br
!= MarkdownService.html(@post.body) if @post.body.present?
.back
  %a{ :href => "javascript: history.back();" } Back
