@import "base";

@navbarBackground:                @red;
@navbarBackgroundHighlight:       @red;

body {
  padding-top: 40px;
  background-image: url('oia_web_bg.jpg');
  background-position: center top;
  background-repeat:no-repeat;
  background-attachment: fixed; 
}

#wrapper {
  background-color:rgba(255,255,255,0.8);
  padding-top: 10px;
  padding: 10px;
}

table {
  background-color: #fff;
}

header {
  h1 {

  }
}
