
@import "base";

@navbarBackground:                #c70002;
@navbarBackgroundHighlight:       #c70002;

body {
  padding-top: 40px;
  background-image: asset-url("themes/oia/oia_web_bg.jpg");
  background-position: center top;
  background-repeat:no-repeat;
  background-attachment: fixed; 
}

#site_logo {
  div {
    background-image: asset-url("themes/oia/brand.jpg");
    width: 244px;
    height: 20px;
  }
}

#site_name {
  display: none;
}

#wrapper {
  background-color:rgba(255,255,255,0.8);
  padding-top: 10px;
  padding: 10px;
}

header {
  h1 {

  }
}


table {
  background-color: #fff;
}
