
%table.ui.definition.table
  %tbody
    %tr
      %td.two.wide Name
      %td= @event.name
    %tr
      %td Visit
      %td= link_to @event.visit_id, [:host, @event.visit]
    - @event.properties.each do |key, value|
      %tr
        %td= key.titleize
        %td= key == 'path' ? link_to(value, value) : value
