
%table.ui.definition.table
  %tbody
    %tr
      %td.two.wide Name
      %td= @event.name
    - @event.properties.each do |key, value|
      %tr
        %td= key.titleize
        %td= key == 'path' ? link_to(value, value) : value
