/* All of these selectors + properties are required.
   You shouldn't have to customize any of them. */

.ember-calendar-head {
  position: relative;
}
.ember-calendar-head-previous {
  left: 0px;
  position: absolute;
  text-align: right;
  top: 0px;
}
.ember-calendar-head-next {
  right: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
}
.ember-calendar-head-date {
  display: inline-block;
  text-align: center;
  width: 100%;
  vertical-align: top;
}
.ember-calendar-container {
  overflow-x: hidden;
  overflow-y: auto;
}
.ember-calendar-body {
  position: relative;
}
.ember-calendar-head-times {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}
.ember-calendar-head-time {
  height: 4.16666666666%;
}
.ember-calendar-days {
  height: 100%;
}
.ember-calendar-day {
  display: inline-block;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
  vertical-align: top;
}
.ember-calendar-event {
  position: absolute;
  width: 100%;
}
.ember-calendar-head-week-date {
  width: 14.2857142857%;
}
.ember-calendar-week-day {
  width: 14.2857142857%;
}


/* The majority of these selectors + properties are required.
   However, you can customize them as you wish. */

.ember-calendar {
  border: 1px solid #ddd;
  font-family: 'myriad-pro', 'Myriad Pro', 'Calibri', 'Helvetica', 'Trebuchet MS', 'Verdana', sans-serif;
  height: 500px;
  width: 100%;
}
.ember-calendar-head {
  background: #ddd;
  color: #666;
  height: 25px;
  font-size: 14px;
}
.ember-calendar-container {
  height: 475px;
}
.ember-calendar-body {
  height: 1000px;
}
.ember-calendar-head-previous {
  width: 50px; /* A */
}
.ember-calendar-head-next {
  width: 25px; /* B */
}
.ember-calendar-head-dates {
  margin-left: 50px; /* A */
  margin-right: 25px; /* B */
  padding: 5px 0px;
}
.ember-calendar-head-times {
  border-right: 1px solid #f6f6f6;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  padding-right: 5px;
  width: 50px; /* A */
}
.ember-calendar-head-time {
  color: #999;
  font-size: 13px;
}
.ember-calendar-days {
  margin-left: 50px;
  margin-right: 25px;
}
.ember-calendar-event {
  background: #f6f6f6;
  border: 1px solid #eee;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
}
.ember-calendar-event-name {
  color: #333;
  font-size: 14px;
  line-height: 16px;
}
.ember-calendar-event-time, .ember-calendar-event-location {
  color: #999;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 2px;
}

.ember-calendar-month-week {
  height: 200px;
}

.ember-calendar-month-day {
  width: 14.2857142857%;
  height: 200px;
  border: 1px solid #dedede;
}

.nav-pills {
  li {
   cursor: pointer;
  }
}