
.ui.middle.aligned.center.aligned.grid
  .six.wide.column
    %h3 Let's face it... PASSWORDS STINK
    %p 
      Fortunately we don't need passwords.  Just submit your email address below and we'll send you a magic link.  
      Check your email, click the the magic link and you're in.  That's it!
    = simple_form_for @session, url: send(Passwordless.mounted_as).sign_in_path do |f|
      - email_field_name = :"passwordless[#{@email_field}]"
      .ui.segment
        .field
          = text_field_tag email_field_name, params.fetch(email_field_name, nil), class: [:field], placeholder: 'Email Address', required: true
        .field
          = f.submit 'Send Magic Link', class: [:ui, :large, :fluid, :primary, :button]