- title 'Users'
- wrapper class: [:ui, :container]

.ui.segment
  %table.ui.celled.striped.table
    %thead
      %tr
        %th First
        %th Last
        %th Email
        %th Actions
    %tbody
      - @users.each do |user|
        %tr
          %td= user.first_name
          %td= user.last_name
          %td= user.email
          %td= link_to 'Show', [:admin, user], class: [:ui, :small, :primary, :button]


