<div style="float: left; border: 1px solid gray; padding: 10px; margin: 5px; width: 200px; height: 80px;">
  <strong><%= division.name %></strong>
  [<%= link_to 'Edit', edit_league_division_path(division) %>]
  <ul>
    <% division.seasons.desc(:starts_on).each do |season| %>
    <li><%= link_to season.name, league_season_friendly_path(division.slug, season.slug) %></li>
    <li><%= link_to 'New Season', new_league_division_season_path(division) %></li>
    <% end %>
  </ul>
</div>
