<% title "League" %>

<h3>Divisions</h3>
<div>
  <% @divisions.each do |division| %>
    <%= render :partial => "division_card", :locals => { :division => division } %>
  <% end %>
</div>
<div style="clear: both;"></div>
<p>
  <%= link_to 'New Division', new_league_division_path %>
</p>
