- if element.allow_multiple
  = builder.input element.name,
                    as: :semantic_check_boxes,
                    required: element.required?,
                    collection: element.options_as_list,
                    hint: element.hint
- else
  - if element.options_as_list.count < 6
    = builder.input element.name,
                    as: :semantic_radio_buttons,
                    required: element.required?,
                    collection: element.options_as_list,
                    hint: element.hint
  - else
    = builder.input element.name,
                    as: :select,
                    required: element.required?,
                    collection: element.options_as_list,
                    hint: element.hint
