.well
  - if block.title.presence
    .page-header
      %h1
        = block.title
        - if block.caption.presence
          %small= block.caption
  != RedCloth.new(block.body).to_html if block.body.presence
