.container
  %h1.page-header Locations

  %table.table.table-bordered
    %col{ style: 'width: 20px;' }
    %thead
      %tr
        %th
        %th Name
    %tbody
      - @locations.each do |location|
        %tr
          %th= link_to 'Select', cast_path(location), class: 'btn btn-primary'
          %td= location.name
