<div class="btn-group pull-right" role="group" aria-label="...">
  {{#link-to "index.day" class="btn btn-default"}}Day{{/link-to}}
  {{#link-to "index.week" class="btn btn-default"}}Week{{/link-to}}
  {{#link-to "index.month" class="btn btn-default"}}Month{{/link-to}}
  <button type="button" class="btn btn-default">4 Days</button>
  <button type="button" class="btn btn-default">Agenda</button>
</div>