<article style="height: {{height}}px; top: {{top}}px; position: absolute; width: 100%;">
	<div style="border: 1px solid #dedede; height: 100%; background-color:rgba(222, 222, 222, 0.25); margin-left: 1px; margin-right: 1px;">
    <small>{{event.summary}}</small>
	</div>
</article>