.ui.small.modal.edit_block
  .header Edit Markup
  .content
    = simple_form_for @block, url: page_blocks_markup_path(@page, @block), remote: true do |f|
      = f.input :title
      = f.input :body, as: :text
  .actions
    %button.ui.primary.button{ type: :submit } Save
    %button.ui.cancel.button Cancel

:css
  #blocks_markup_body {
    height: 400px;
  }