- if @breadcrumbs and @breadcrumbs.length > 0
  .ui.breadcrumb
    - @breadcrumbs.each_with_index do |crumb, index|
      - unless index == 0
        %span.divider= '/'
      - if crumb[:url]
        %a.section{ :href => "#{crumb[:url]}" } #{crumb[:title]}
      - else
        .section= crumb[:title]

