- if @breadcrumbs and @breadcrumbs.length > 0
  %ol.breadcrumb
    - @breadcrumbs.each_with_index do |crumb, index|
      %li
        - if crumb[:url]
          %a{ :href => "#{crumb[:url]}" } #{crumb[:title]}
        - else
          = crumb[:title]

