%div{ :id => "site-nav-container" }  
  %ul{ :id => "site-nav" }
    %li 
      %a{ :href => "/" } Home
    %li
      %a{ :href => "/"} About
    %li 
      %a{ :href => "/league" } Divisions
    %li
      %a{ :href => "/"} Clubs
  .clear
