%ul
  - @site_menu_items.each do |item|
    %li 
      - if request.url.include?(item[:url])
        %a.selected{ :href => "#{item[:url]}" } #{item[:title]}
      - else
        %a{ :href => "#{item[:url]}" } #{item[:title]}
.clear

