%div{ :id => "site-nav-container" }  
  %ul{ :id => "site-nav" }
    %li 
      %span{ :class => "left" }
      %a{ :href => "/" } Home
      %span{ :class => "right" }
    %li 
      %span{ :class => "left" }
      %a{ :href => "/league" } League
      %span{ :class => "right" }
