/*
*= require_self
*= require jquery-ui-1.8.11.custom
*= require jcrop/jquery.Jcrop.min
*/

$brand-primary: #24247a;

$navbar-default-bg:                #24247a;

// Navbar links
$navbar-default-link-color:                #cecece !default;
$navbar-default-link-hover-color:          #fff !default;
$navbar-default-link-hover-bg:             lighten($navbar-default-bg, 6.5%) !default;
$navbar-default-link-active-color:         #dedede !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

$gray-light: #CCC;
$gray-lighter: #dedede;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "base/include";

h1,.h1 {
  font-size: 30px;
}
h2,.h2 {
  font-size: 26px;
}
h3,.h3 {
  font-size: 22px;
}
h4,.h4 {
  font-size: 18px
}

.navbar .nav > li > a {
  font-weight: 500;
}

body {
  background-image: asset-url("themes/styfl/football_field_grayscale.jpg");
  background-position: center top;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



#site_logo {
  div {
    background-size: 244px 20px;
    width: 250px;
    height: 20px;
  }
  div::after {
    color: #fff;
    content: "SAN TAN YOUTH FOOTBALL"
  }
}

.areanav {
  width: 100%;
  height: 36px;
  background-color: #EEE;
  background-repeat: repeat-x;
  background-image: linear-gradient(to top, whiteSmoke 0%,#EEE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
  .nav {
    margin-bottom: 0;
  }
}

#site_name {
  display: none;
}

#wrapper {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, .975);
  padding-top: 10px;
  padding: 10px;
}

header {
  h1 {

  }
}

table {
  background-color: #fff;
}

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  background: #fafafa ;
}
